<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.squirrel.world.db.mapper.CountryMapper">
  <resultMap type="org.squirrel.world.db.model.Country" id="country">
    <id column="code" property="code"/>
    <result column="name" property="name"/>
    <result column="continent" property="continent" typeHandler="org.squirrel.world.db.mapper.ContinentHandler"/>
    <result column="region" property="region"/>
    <result column="surfaceArea" property="surfaceArea"/>
    <result column="population" property="population"/>
  </resultMap>

  <select id="listCountries" resultMap="country">
    SELECT * FROM country
  </select>

  <select id="getCountryCount" resultType="int">
    SELECT count(code) FROM country
  </select>

</mapper>